.heading{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}
.heading-card {
    text-align: center;
    font-size: 21px;
    margin: 10px 0;
}
.heading-card-sub{
    text-align: right;
    font-size: 17px;
    margin-right: 7px;
}
.quantity{
    text-align: right;
    font-size: 15px;
    margin-right: 7px;
}
.img-company{
    width:100px

}
.container__img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-body   {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.card__margin{
    margin-top: 20px;
}

 .card {
    padding-bottom: 11px;
}
body{
    padding-bottom:30px
}